<p id="notice"><%= notice %></p>

<h1>WorshipPlace</h1>

<table>
  <thead>
    <tr>
      <th>Place_ID</th>
      <th>Name</th>
      <th>is_temple</th>
      <th>address</th>
      <th>latitude</th>
      <th>longitude</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @worship_places.each do |worship_place| %>
      <tr>
        <td><%= worship_place.place_id %></td>
        <td><%= worship_place.name %></td>
        <td><%= worship_place.is_temple %></td>
        <td><%= worship_place.address %></td>
        <td><%= worship_place.latitude %></td>
        <td><%= worship_place.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<style type="text/css">
  #map { height: 400px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 80%;
  }
</style>

<%= form_tag '/', method: :post do %>
  <% %w(寺 神社).each do |item| %>
    <label>
      <%= check_box_tag 'worship_form[types][]', item, @check_box_status[item] %>
      <%= item %>
    </label>
  <% end %>
  <%= submit_tag('送信') %>
<% end %>


<div id="map"></div>
<script type="text/javascript">
  function attachMessage(marker, msg) {
    var infowindow = new google.maps.InfoWindow({
        content: msg
    });
    google.maps.event.addListener(marker, 'mouseover', function(event) {
      infowindow.open(marker.getMap(), marker);
    });
    marker.addListener('mouseout', function() {
      infowindow.close();
    });
  }

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 35.674722, lng: 139.739583},
      zoom: 10
    });
    <% @worship_places.each do |worship_place| %>
      var marker = new google.maps.Marker({
        position:  {lat: <%= worship_place.latitude %>, lng: <%= worship_place.longitude %>},
        map: map
      });
      var contentString = '緯度: <%= worship_place.latitude %>, 経度: <%= worship_place.longitude %>'
      attachMessage(marker, contentString);
    <% end %>
  }
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBflv1wp3O6qIB9ZL3x88bWTjiOeZnI5Kw&callback=initMap"
async defer></script>
