<script type="text/javascript">
  function attachMessage(marker, msg) {
    var infowindow = new google.maps.InfoWindow({
      content: msg,
      maxWidth: 500
    });
    google.maps.event.addListener(marker, 'mouseover', function(event) {
      infowindow.open(marker.getMap(), marker);
    });
    marker.addListener('mouseout', function() {
      infowindow.close();
    });
  }

  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: <%= if @center_place.nil? then 35.674722 else @center_place.first.latitude end %>,
        lng: <%= if @center_place.nil? then 139.739583 else @center_place.first.longitude end %>,
      },
      zoom: 10
    });
    <% @worship_places.each do |worship_place| %>
      <% if worship_place.is_temple %>
        var icon = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
      <% else %>
        var icon = 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
      <% end %>
      var marker = new google.maps.Marker({
        position:  {lat: <%= worship_place.latitude %>, lng: <%= worship_place.longitude %>},
        map: map,
        icon: icon
      });
      var contentString = "<div id='infoWindow'>" +
        "名称: <%= worship_place.name %><br>" + 
        "住所: <%= worship_place.address %><br>" +
        "<%= output_worship_place_item worship_place, :rank  %><br>" +
        "<%= output_worship_place_item worship_place, :object %><br>" +
        "<%= output_worship_place_item worship_place, :sect %><br>" +
        "</div>"
      attachMessage(marker, contentString);
    <% end %>
  }
</script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBflv1wp3O6qIB9ZL3x88bWTjiOeZnI5Kw&callback=initMap"
        async defer></script>

<div id="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1>御朱印マップ</h1>

  <div class="row-fluid">
    <div id="search_box" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <%= form_tag '/', method: :post do %>
        <% %w(寺 神社).each do |item| %>
          <label>
            <%= check_box_tag 'worship_form[types][]', item, @check_box_status[item] %>
            <%= item %>
          </label>
        <% end %>
        </br>
        <%= text_field :worship_form, :search_word, placeholder: "寺社名 or 地名で検索" %>
        <div id=submit_button>
          <%= submit_tag('送信') %>
        </div>
      <% end %>
    </div>

    <div id="map" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    </div>
  </div>

  <div class="row-fluid">
    <div id="result-list">
      <% unless @center_place.nil? %>
        <h3>検索結果</h3>
        <div id="search-result">
          <table>
            <thead>
              <tr>
                <th>Place_ID</th>
                <th>Name</th>
                <th>is_temple</th>
                <th>address</th>
                <th>latitude</th>
                <th>longitude</th>
                <th colspan="6"></th>
              </tr>
            </thead>

            <tbody>
              <% @center_place.each do |center_place| %>
                <tr>
                  <td><%= center_place.place_id %></td>
                  <td><%= center_place.name %></td>
                  <td><%= center_place.is_temple %></td>
                  <td><%= center_place.address %></td>
                  <td><%= center_place.latitude %></td>
                  <td><%= center_place.longitude %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>

      <!-- 折り畳み展開ポインタ -->
      <div onclick="obj=document.getElementById('open').style; obj.display=(obj.display=='none')?'block':'none';">
        <a style="cursor:pointer;">▼クリックで寺社仏閣リストを展開</a>
      </div>
      <!--// 折り畳み展開ポインタ -->

      <!-- 折り畳まれ部分 -->
      <div id="open" style="display:none;clear:both;">
        <h3>全寺社仏閣リスト</h3>
        <table>
          <thead>
            <tr>
              <th>Place_ID</th>
              <th>Name</th>
              <th>is_temple</th>
              <th>address</th>
              <th>latitude</th>
              <th>longitude</th>
              <th colspan="6"></th>
            </tr>
          </thead>

          <tbody>
            <% @worship_places.each do |worship_place| %>
              <tr>
                <td><%= worship_place.place_id %></td>
                <td><%= worship_place.name %></td>
                <td><%= worship_place.is_temple %></td>
                <td><%= worship_place.address %></td>
                <td><%= worship_place.latitude %></td>
                <td><%= worship_place.longitude %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!--// 折り畳まれ部分 -->
    </div>
  </div>
</div>
