<script type="text/javascript">
  function attachMessage(marker, msg, info_window) {
    google.maps.event.addListener(marker, 'click', function(event) {
      if (info_window.info_window) {
        info_window.info_window.close();
      }
      info_window.info_window = new google.maps.InfoWindow({
        content: msg,
        maxWidth: 500
      });
      info_window.info_window.open(marker.getMap(), marker);
    });
  }

  function initMap() {
    var info_window = {
      info_window: new google.maps.InfoWindow()
    }
    var map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: <%= if @center_place.nil? then 35.674722 else @center_place.first.latitude end %>,
        lng: <%= if @center_place.nil? then 139.739583 else @center_place.first.longitude end %>,
      },
      zoom: 10
    });
    <% @worship_places.each do |worship_place| %>
      <% if worship_place.is_temple %>
        var icon = {
          url: 'assets/temple_icon_32x32.png',
          scaledSize: new google.maps.Size(20,20),
        }
      <% else %>
        var icon = {
          url: 'assets/shrine_icon_32x32.png',
          scaledSize: new google.maps.Size(20,20),
        }
      <% end %>

      var zIndex = 100
      <% unless @center_place.nil? %>
        <% if worship_place.place_id == @center_place.first.place_id %>
          var zIndex = 10000
        <% end %>
      <% end %>
      var marker = new google.maps.Marker({
        position:  {lat: <%= worship_place.latitude %>, lng: <%= worship_place.longitude %>},
        map: map,
        icon: icon,
        zIndex: zIndex
      });
      var contentString = "<div id='infoWindow'>" +
        "名称: <%= worship_place.name %><br>" + 
        "住所: <%= worship_place.address %><br>" +
        "<%= output_worship_place_item worship_place, :rank  %><br>" +
        "<%= output_worship_place_item worship_place, :object %><br>" +
        "<%= output_worship_place_item worship_place, :sect %><br>" +
        "</div>"
      attachMessage(marker, contentString, info_window);
      <% unless @center_place.nil? %>
        <% if worship_place.place_id == @center_place.first.place_id %>
          google.maps.event.trigger(marker, 'click');
        <% end %>
      <% end %>
    <% end %>
  }
</script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBflv1wp3O6qIB9ZL3x88bWTjiOeZnI5Kw&callback=initMap"
        async defer></script>

<div id="container-fluid">
  <p id="notice"><%= notice %></p>

  <div class="row-fluid">
    <div id="search_box" class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <%= form_tag '/', method: :post do %>
        <% %w(寺 神社).each do |item| %>
          <label>
            <%= check_box_tag 'worship_form[types][]', item, @check_box_status[item] %>
            <%= item %>
          </label>
        <% end %>
        </br>
        <%= text_field :worship_form, :search_word, placeholder: "寺社名 or 地名で検索" %>
        <div id=submit_button>
          <%= submit_tag('送信') %>
        </div>
      <% end %>
    </div>

    <div id="map" class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    </div>
  </div>

  <%= render 'table' %>
</div>
